html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url('../img/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    background-color: hsl(225, 100%, 94%);
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}

a,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

a:hover,
.plan-btn::after {
    transition: all 0.1s ease-in;
}

.card {
    max-width: 28.125rem;
    background-color: hsl(225, 100%, 100%);
    border-radius: 15px;
    box-shadow: 0px 20px 30px -5px hsl(249, 100%, 90%);
    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-img {
    height: 13.75rem;
    background-image: url('../img/illustration-hero.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.card-content {
    text-align: center;
    padding: 3rem;
}

.card-header {
    color: hsl(223, 47%, 23%);
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0 0 1.625rem 0;
}

.card-text {
    color: hsl(224, 23%, 55%);
    line-height: 1.5;
    margin: 0 0 1.5rem 0;
}

.plan-container {
    background: hsl(225, 100%, 98%);
    margin: 0 0 1.625rem 0;
    padding: 1.625rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.plan-details {
    display: flex;
    align-items: center;
}

.payment-icon {
    height: 3rem;
    width: 3rem;
    background-image: url('../img/icon-music.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin: 0 1.625rem 0 0;
}

.plan-header {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    margin: 0 0 0.375rem 0;
}

.plan-price {
    color: hsl(224, 23%, 55%);
}

.plan-btn a {
    font-family: inherit;
    color: hsl(245, 75%, 52%);
    font-size: 0.875rem;
    font-weight: 700;
}

.plan-btn {
    position: relative;
}
.plan-btn::after {
    content: '';
    height: 1px;
    width: 100%;
    background: hsl(245, 75%, 52%);
    opacity: 1;

    position: absolute;
    bottom: 3px;
    left: 0;
}

.plan-btn:hover::after {
    opacity: 0;
}

.plan-btn a:active,
.plan-btn a:visited {
    color: hsl(245, 75%, 52%);
}

.plan-btn a:hover {
    color: hsl(245, 75%, 72%);
}

.card-btn-proceed a,
.card-btn-cancel a {
    text-decoration: none;
}

.card-btn-proceed a {
    background: hsl(245, 75%, 52%);
    margin: 0 0 0.5rem 0;
    padding: 1.25rem;
    color: hsl(225, 100%, 100%);
    font-size: 0.875rem;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 0px 20px 30px -5px hsl(249, 100%, 88%);

    display: block;
}

.card-btn-proceed a:hover {
    background: hsl(245, 75%, 62%);
}

.card-btn-cancel a {
    width: 100%;
    padding: 1.25rem;
    color: hsl(224, 23%, 55%);
    font-size: 0.875rem;
    font-weight: 900;

    display: block;
}

.card-btn-cancel a:hover {
    color: hsl(223, 47%, 23%);
}

@media (max-width: 1280px) {
    body {
        background-image: none;
    }
}
